*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Inter,sans-serif;

background:#f8fafc;

color:#0f172a;

text-align:center;

}



header{

padding:50px 20px;

}



header a{

display:block;

margin-bottom:25px;

text-decoration:none;

color:#2563eb;

}



h1{

font-size:42px;

font-weight:800;

}



header p{

margin-top:15px;

color:#64748b;

}





main{

width:min(1000px,92%);

margin:auto;

}





.status{

background:white;

padding:15px;

border-radius:15px;

border:1px solid #e2e8f0;

margin-bottom:30px;

}





.hidden{

display:none;

}





.controller-info{

margin-bottom:30px;

}





.controller-info p{

color:#64748b;

}





.controller-view{

background:white;

border:1px solid #e2e8f0;

border-radius:30px;

padding:40px;

}





.gamepad-svg svg{

width:min(600px,100%);

height:auto;

}





.info-box{

margin-top:25px;

padding:25px;

background:white;

border-radius:20px;

border:1px solid #e2e8f0;

}





button{

margin-top:25px;

padding:15px 30px;

border:none;

border-radius:12px;

background:#2563eb;

color:white;

font-size:16px;

cursor:pointer;

}




/* ===================== */
/* BOTONES ACTIVOS */
/* ===================== */


.pressed{

fill:#2563eb !important;

stroke:#1d4ed8 !important;

}



.pressed text{

fill:white !important;

}




#stick-left,
#stick-right{

transition:.05s;

transform-origin:center;

}





#trigger-l2,
#trigger-r2{

transition:.1s;

}
